.program
  flex: 1 1 20%
  border: 1px solid #323232

  &__title
    padding: 20px
    background-color: yellow

  &__title h2
    text-align: center

  &__rounds
    height: 720px
    overflow-y: scroll

  &__round-info
    display: flex
    justify-content: center
    align-items: center
    background-color: orange

  &__round-info.order
    margin-right: 10px

  &__round-info.distance
    margin-left: 10px

  &__table td
    text-align: center
