.racing-area
  flex: 1 1 50%
  margin: 30px

  &__inner
    border-right: 5px solid red

  &__footer
    position: relative

  &__round-info
    display: flex
    justify-content: center
    align-items: center
    width: 80%
    margin-top: 10px
    padding: 5px
    font-weight: 700
    background-color: orange

  &__round-order
    margin-right: 10px

  &__round-distance
    margin-left: 10px

  &__finish
    position: absolute
    top: 50%
    right: -20px
    transform: translateY(-50%)
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
    color: red
